QWidget{
    font-family: Arial, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000
    /* qlineargradient(
                        x1: 0.2, y1: 0.2, x2: 0, y2: 1,
                        stop: 0 #000000, stop: 1 #08001b);  */
}

QWidget#Tab{
     /* #282828; */ 
    background-color: #282828;
    /* qlineargradient(
        x1: 0.2, y1: 0.2, x2: 0, y2: 1,
        stop: 0 #282828, stop: 1 #31264b);  */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

QWidget#Menu{
    background-color: #424242;
    /* qlineargradient(
        x1: 0.2, y1: 0.2, x2: 0, y2: 1,
        stop: 0 #424242, stop: 1 #4d4168); */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

QLabel{
    color: #fff;
    background-color: #282828;
    font-size: 12pt;
}



QPushButton, QComboBox, QSpinBox{
    background-color: #1d1d1d;
    color: #fff;
    font-size: 10pt;
    border: 2px solid #919191;
    border-radius: 14px;
    padding: 4px 10px;
}

QPushButton:hover{
    border-color: #804bfd;

}

QSpinBox::up-button, QSpinBox::down-button {
    width: 2em;
    border-left-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
}

QSpinBox::up-arrow {
    image: url(src/icons/up_pointer.png);
    width: 12px;
    height: 6px;
}

QSpinBox::down-arrow {
    image: url(src/icons/down_pointer.png);
    width: 12px;
    height: 6px;
}

QAbstractItemView{
    color: #fff;
    background-color: #282828;
}

QSpinBox::up-button{
    background-color: none;
}

QSpinBox::up-button:hover, QSpinBox::down-button:hover{
    border-left-color: #804bfd;
}



QComboBox::drop-down {
    width: 2em;
    border-left-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid; 

}

QComboBox::drop-down:hover {
    border-left-color: #804bfd;
}

QComboBox::down-arrow {
    image: url(src/icons/down_arrow.png);
    max-width: 1em;
    max-height: 1em;
}

QTabWidget::pane {
} 

QTabBar::tab {
    font-size: 12pt;
    background: #000000; 
    color: #ffffff;
    min-width: 50px;
    /* border: 2px solid rgb(255, 255, 255);  */
    padding: 15px 50px;
} 

QTabBar::tab:selected { 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    background: #282828; 
    margin-bottom: -2px; 
}


PlotWidget {
    border-radius: 5px;
}

QGroupBox {
    background-color: #282828;
    border: 2px solid #999999;
    border-radius: 10px;
    margin-top: 2ex;  /*leave space at the top for the title */
    font-size: 15px;
    color: black;
}
QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;    /* position at the top center */
    padding: 0 10px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
/* 
qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #000000, stop: 1 #FFFFFF); */